# Variables d'environnement pour Vercel
# Copiez ces variables dans les settings de votre projet Vercel

# Type de base de données
DB_TYPE=supabase

# Configuration Supabase
SUPABASE_URL=https://apfqtfkizqsoeujhtzxe.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZnF0ZmtpenFzb2V1amh0enhlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgzNjM3MiwiZXhwIjoyMDk4NDEyMzcyfQ.BsChTPWralKqV53qYNHAiJuzUlB2pBPOLjCd32zzDHs
SUPABASE_AUTH_TOKEN=

# Configuration MySQL (optionnel, pour rollback)
DB_HOST=127.0.0.1
DB_NAME=portfolio
DB_USER=root
DB_PASS=
